.product-image {
  overflow: hidden;
  object-fit: cover;
}

.product-image:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.header {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.sub-header {
  font-weight: 600;
  letter-spacing: 2px;
}

.caption {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
