.product-image {
  overflow: hidden;
  object-fit: cover;
}

.product-image:hover {
  transform: scale(1.01);
}

.header {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.sub-header {
  font-weight: 500;
  letter-spacing: 2px;
}
